{% load staticfiles %}

<html>
<head>
    <title>Main blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="container">
    <a href="/"><h1>Блог Клинова Михаила Сергеевича</h1></a>
    <nav>
        <a href="{% url 'blog.views.post_new' %}" class="new_post"><span class="glyphicon glyphicon-plus"></span>Добавить
            запись</a>
    </nav>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>