{% block footer %}
    <div class="footer">
        <a href="https://metrika.yandex.ru/stat/?id=41528589&amp;from=informer" target="_blank" rel="nofollow">
            <img src="https://informer.yandex.ru/informer/41528589/2_0_FFFFFFFF_EFEFEFFF_0_pageviews"
                 style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика"
                 title="Яндекс.Метрика: данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="41528589"
                 data-lang="ru"/>
        </a>
    </div>
{% endblock footer%}