{% extends 'blog/base.html' %}

{% block content %}
    <div class="list-post">
        <nav>
            <a href="{% url 'blog.views.post_new' %}" class="btn_post"><span class="glyphicon glyphicon-plus"></span>Добавить
                запись</a>
        </nav>
        {% for post in posts %}
            <a href="{% url 'post_detail' pk=post.pk %}">
                <div class="post panel">
                    <h2>{{ post.title }}</h2>
                    <p>published: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}