{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'post_edit' pk=post.pk %}" class="btn_post">
                Хочу добавить
            </a>
        </nav>
    {% endif %}
    <script>
        $(document).ready(function () {
            setTimeout(function(){$('#myModal').modal('show');}, 1000);
        });
    </script>
    <div class="post panel">
        <div class="ya-share2"
             data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,skype,telegram"
             data-limit="3">
        </div>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|safe }}</p>
    </div>
    <h1>Высказывания общественности по данному поводу</h1>

    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="panel post detail_comment ">
                <div class="panel-body">Высказывание от:{{ comment.created_date }} | Автор: {{ comment.author }}</div>
                <div class="panel-footer"><p>{{ comment.text|linebreaks }}</p>
                    {% if not comment.approved_comment %}
                        <p>
                            Решение по данному высказыванию
                        </p>
                        <p>
                            <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}">
                                <span class="glyphicon glyphicon-remove"></span>
                                Расстрелять
                            </a>
                            <a class="btn btn-success" href="{% url 'comment_approve' pk=comment.pk %}">
                                <span class="glyphicon glyphicon-ok"></span>
                                Предать гласности
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% empty %}
        <p>Высказываний общественности нет</p>
    {% endfor %}

    <!-- Modal -->

{% endblock %}