{% extends 'blog/base.html' %}

{% load mathfilters %}

{% block content %}
    {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'blog.views.post_new' %}" class="btn_post">
                <span class="glyphicon glyphicon-plus"></span>
                Выдать государственную тайну
            </a>
        </nav>
    {% endif %}
    <div class="list-post">
        {% for post in posts %}
            <a href="{% url 'post_detail' pk=post.pk %}">
                <div class="post panel">
                    <h2>{{ post.title }}</h2>
                    <p>Тайна выдана: {{ post.published_date }}</p>
                    <p>{{ post.text|truncatechars_html:250|safe }}</p>
                </div>
            </a>
            <a href="{% url 'post_detail' pk=post.pk %}"
               class="descriptor-count">Высказалось {{ post.approved_comments.count }} человек</a>
            {% if user.is_authenticated %}
                ({{ post.comments.count|sub:post.approved_comments.count }} ожидают модерации)
            {% endif %}
            <br><a class="btn btn-default btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">
            Высказаться
        </a>
            Внимание! Все комментарии проходят проверку в ЦК
            <hr>
        {% endfor %}
    </div>
{% endblock content %}